p {
  /*float: left;*/
  width: 80%;
  text-align: justify;
}

.withincode {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.code {
  background-color: #e2e2e2;
  font-family: 'Courier New', Courier;
  padding: 20px 0px 20px 30px;
  width: 80%;
}

.JSReturn {
  color: #0400A5;
}

.red-background {
  background-color: #F75656;
}

.green-background {
  background-color: #6FAF6E;
}

.example {
  margin-top: 15px;
}

#box-example {
  margin-top: 50px;
  border: 2px solid red;
}
